<div class="navbar navbar-list navbar-inverse navbar-static-top"> 
  <div class="container-fluid">
        <div class="nav-collapse">
      </div>
    </div>
</div>

<div class="user-profile">
  <div class="page-header">
    <%= image_tag @user.avatar_url.to_s, :size => '100x100' %>
    <h1><%= @user.username %> <small>Passwort ändern</small></h1>
  </div>
  <%= semantic_form_for @user, :url => { :action => "chgpassword" } do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= @user.errors.count %> Fehler verhindern das Speichern:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.inputs do %>
      <%= f.input :username, :as => :hidden %>
      <%= f.input :email, :as => :hidden %>
      <%= f.input :gender, :as => :hidden %>
      <%= f.input :password, :label => 'Neues Passwort' %>
      <%= f.input :password_confirmation, :label => 'Neues Passwort wiederholen' %>
    <% end %>

    <%= f.actions do %>
        <%= f.action :submit, :as => :button, :label => 'Passwort ändern' %>
    <% end %>

  <% end %>
</div>