<%= semantic_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :name, :required => true %>
    <%= f.input :description, :input_html => { :rows => 7, :cols => 60 } %>
    <%= f.input :logo, :as => :file %>
    <%= f.input :creator_id, :as => :select, :collection => User.find_all_by_is_visible(true, :order => :username) %>
    <%= f.input :goal, :as => :select, :collection => [['Anzahl', 'amount'], ['Punkte', 'points']] %>

    <%= f.input :period, :as => :boolean, :label => 'Zeitraum' %>
    <%= f.input :date_from, :as => :string, :input_html => { :class => 'date-input' } %>
    <%= f.input :date_to, :as => :string, :input_html => { :class => 'date-input' } %>

    <%= f.input :participants, :as => :select, :collection => User.find_all_by_is_visible(true, :order => :username) %>
    <%= f.input :boulders, :as => :select, :collection => @boulder %>
  <% end %>

  <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
  <% end %>

<% end %>