<%= javascript_include_tag "boulders" %>

<div class="navbar navbar-list navbar-inverse navbar-static-top"> 
    <div class="container-fluid">
        <%= link_to @event.name, @event, {:class => 'navbar-brand'} %>
        <div class="nav-collapse"> 
          <ul class="nav">
            <% if @event.is_active %>
              <li class="divider-vertical"></li>
              <li class='active'><%= link_to 'Boulder', '/events/'+@event.id.to_s+'/boulders' %></li>
            <% end %>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Ranking', '/rankings/event/'+@event.id.to_s %></li>
          </ul>
        </div>
    </div>
</div>

<div class="user-profile">
  <div class="page-header">
    <% if @event.logo? %>
      <%= image_tag @event.logo_url.to_s %>
    <% end %>
    <h1>Event <small><%= @event.name %></small></h1>
  </div>
  <p id="notice"><%= notice %></p>
  <%= render 'boulders/list' %>
</div>



<% if @is_participant %>
  <%= render 'boulders/tick-popup' %>
<% end %>  